
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: wheat; */
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container{
   display: flex;
   width: 1000px;
   justify-content: center;
 
}

/*  header and image section css */
.top-header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 60px;
   
}
.header-section {
    
}
.image-section img{
    padding: 60px 0px 0px 20px;
    width: 500px;
}
.header-title{
    font-size: 36px;
    margin-bottom: 1px;
}
.header-details{
    margin-top: 1px;
    padding-bottom: 9px;
    font-weight: 400;
   text-align: justify;

}
.button-link{
    padding: 10px;
    color: white;
    background-color: rgba(187, 8, 62, 0.925);
    text-decoration: none;
    border-radius: 100px;
    font: 400;
   
}
.button-link:hover {
    background-color: rgba(238, 12, 61, 0.925);
    font-size: 20px;
}
.button-link span {
    margin-left: 9px;
}

/* populer section  */
.collection-header{
    text-align: center;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.item{
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}
.banner img{
    width: 300px;
    height: 200px;
}
.item-name{
    font-size: 30px;
}
.price{
    font-size: 25px;
}
.review {
    color: yellow;
}
.review-measure{
    margin-left: 5px;
    color: black;
}
.item-details{
    font-size: 18px;
}
.see-button-link {
 margin: 15px 0px 20px 970px; 
}
.see-button-link a{
    text-decoration: none;
}
.see-button-link span {
    margin: 5px;
}
footer{
    text-align: center;
    background-color: #13023d;
    padding: 20px;
}
.influencer-product-right{
    padding: 20px;
}
.influencer-product-right h3{
    color: white;
    font-size: 20px;
    margin-bottom: 6px; 
}
.influencer-product-right p{
    margin-top: 5px;
    color: white;
    font-size: 12px;
     margin: 4px;
}
.fab{
    margin: 10px;
    color: white;
}
