
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: wheat; */
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container{
   display: flex;
   width: 1000px;
   justify-content: center;
 
}

/*  header and image section css */
.top-header {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 60px;
   
}
.header-section {
    
}
.image-section img{
    padding: 60px 0px 0px 20px;
    width: 500px;
}
.header-title{
    font-size: 36px;
    margin-bottom: 1px;
}
.header-details{
    margin-top: 1px;
    padding-bottom: 9px;
    font-weight: 400;
   text-align: justify;

}
.button-link{
    padding: 10px;
    color: white;
    background-color: #13023D;
    text-decoration: none;
    border-radius: 100px;
    font: 600;
   
}
.button-link:hover {
    background-color: #47327e;
    font-size: 20px;
}
.button-link span {
    margin-left: 9px;
}

/* populer section  */
.collection-header{
    text-align: center;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.item{
    background-color: #f5ecef7a;
    padding: 20px;
    margin: 10px;
    
    border-radius: 5px;
}
.banner img{
    width: 300px;
    height: 200px;
}
.item-name{
    font-size: 30px;
}
.price{
    font-size: 25px;
}
.review {
    color: yellow;
}
.review-measure{
    margin-left: 5px;
    color: black;
}
.item-details p{
    font-size: 15px;
    margin: 2px;
}
.see-button-link {
 margin: 15px 0px 20px 970px; 
}
.see-button-link a{
    text-decoration: none;
}
.see-button-link span {
    margin: 5px;
}
footer{
    text-align: center;
    background-color: #13023d;
    padding: 20px;
}
.influencer-product-right{
    padding: 20px;
}
.influencer-product-right h3{
    color: white;
    font-size: 20px;
    margin-bottom: 6px; 
}
.influencer-product-right p{
    margin-top: 5px;
    color: white;
    font-size: 12px;
     margin: 4px;
}
.fab{
    margin: 10px;
    color: white;
}


/* responsive design  */

/* mobile responsive  */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .top-header, .items {
        grid-template-columns: repeat(1,1fr);
        padding: 10px;
    }
    .header-section{
        padding: 30px;
    } 
    .header-title{
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }
    .header-details{
        font-size: 12px;
        text-align: justify;
    }
    .image-section img{
        width: 400px;
    }
    
    .banner img{
        margin-left: 30px;
    }
    .item-name{
        font-size: 20px;
        font: 600;
        text-align: center;
    }
    .price{
        text-align: center;
        font-size: 15px;
    }
    .review , .review-measure{
        text-align: center;
        font-size: 12px;
    }
    .item-details{
        font-size: 12px;
        text-align: center;
    }
}
@media only screen and (min-width:689px) and (max-width:998px) {
    .container{
        width: 100%;
    }
    .top-header{
        grid-template-columns: repeat(1,1fr);
    }
    .header-title{
        margin-bottom: 20px;
        font-size: 25px;
        text-align: center;
    }
    .header-details{
        font-size: 15px;
        text-align: justify;
    }
    .image-section img{
        width: 600px;
        margin-top: 50px;
    }
    .items {
        grid-template-columns: repeat(2,1fr);
    }

    .item-name{
        font-size: 25px;
        font: 700;
        text-align: center;
    }
    .price{
        text-align: center;
        font-size: 20px;
    }
    .review , .review-measure{
        text-align: center;
        font-size: 18px;
    }
    .item-details{
        font-size: 14px;
        text-align: center;
    }
}
